<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "listAllOwnersPresenter" class = "app.presenter.petsAndOwners.ListAllOwnersPresenter">
   </bean>
   
   <bean id = "ownerListItemRepository" class = "app.repository.OwnerListItemRepository"></bean>
   <bean id="serviceImpl" class="app.demo.ServiceImpl">
		<property name="ownerListItemRepository" ref="ownerListItemRepository"></property>
	</bean>

</beans>